@model Ticketing.Framework.Models.Account.RegisterVM
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>Login</h1>
</hgroup>

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "management-form" }))
{
    <div>
        <fieldset>
            <legend>Account Information</legend>
            @Html.ValidationMessage("ErrorMessage")
            <div class="editor-label">
                @Html.LabelFor(l => l.Email, "Email")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(l => l.Email, new { required = "", type = "email" })
            </div>
            @Html.ValidationMessageFor(l => l.Email)
            <div class="editor-label">
                @Html.LabelFor(l => l.Password, "Password")
            </div>
            <div class="editor-field">
                @Html.PasswordFor(l => l.Password, new { required = "" })
            </div>
            @Html.ValidationMessageFor(l => l.Password)
            <p>
                <input type="submit" value="submit" />
                <a href="~/Account/Register" class="back">Register</a>
            </p>
        </fieldset>
    </div>
}

<script type="text/javascript">
    //$('.management-form').validate();
</script>
