@model Ticketing.Framework.Models.Cart.PaymentVM
@using Ticketing.Framework.BusinessModels;
@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Model.BillingAddress == null)
    {
        Model.BillingAddress = new Address();
    }
    
    if (Model.ShippingAddress == null)
    {
        Model.ShippingAddress = new Address();   
    }

    List<SelectListItem> years = new List<SelectListItem>();
    for (int i = DateTime.Now.Year; i <= DateTime.Now.Year + 10; i++)
    {
        years.Add(new SelectListItem { Value = i.ToString(), Text = i.ToString() });
    }

    List<SelectListItem> months = new List<SelectListItem>();
    for (int i = 1; i < 13; i++)
    {
        months.Add(new SelectListItem { Value = i.ToString(), Text = i.ToString() });
    }

    List<SelectListItem> creditCards = new List<SelectListItem> {
        new SelectListItem { Text = "Visa", Value = "Visa" },
        new SelectListItem { Text = "Master Card", Value = "Master Card" },
        new SelectListItem { Text = "American Express", Value = "American Express" },
        new SelectListItem { Text = "Discover", Value = "Discover" }
    };
}

<hgroup class="title">
    <h1>Checkout</h1>
</hgroup>

@using (Html.BeginForm("Review", "Checkout", FormMethod.Post, new { @class = "management-form" }))
{
    <fieldset>
        <legend>Account Information</legend>
        @Html.ValidationMessage("ErrorMessage")
        <div class="review">
            <div class="row">
                <div class="col">
                    @Html.LabelFor(l => l.FirstName, "First Name*")
                    @Html.TextBoxFor(l => l.FirstName, new { required = "" })
                    @Html.ValidationMessageFor(l => l.FirstName)
                </div>
                <div class="col">
                    @Html.LabelFor(l => l.LastName, "Last Name*")
                    @Html.TextBoxFor(l => l.LastName, new { required = "" })
                    @Html.ValidationMessageFor(l => l.LastName)
                </div>
            </div>
            <div class="row">
                <div class="editor-label">
                    @Html.LabelFor(l => l.Email, "Email*")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(l => l.Email, new { required = "", type = "email" })
                    @Html.ValidationMessageFor(l => l.Email)
                </div>
            </div>
            <div class="row">
                <h3>Billing Info</h3>
            </div>
            @Html.EditorFor(address => address.BillingAddress)
            <div class="row">
                @Html.CheckBoxFor(s => s.SameAsBilling, new { @class = "sameShipping" })
                <span>Is Shipping Address is Same as Billing Address?</span>
            </div>
            <div id="shippingBlock" class="hideme">
                <div class="row">
                    <h3>Shipping Info</h3>
                </div>
                @Html.EditorFor(address => address.ShippingAddress)
            </div>
            <div class="row">
                <div class="editor-label">
                    @Html.LabelFor(l => l.CreditCardType, "Card Type*")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(l => l.CreditCardType, creditCards, new { required = "", @class = "cardType" })
                    @Html.ValidationMessageFor(l => l.CreditCardType)
                </div>
            </div>
            <div class="row">
                <div class="editor-label">
                    @Html.LabelFor(l => l.NameOnCard, "Name On Card*")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(l => l.NameOnCard, new { required = "" })
                    @Html.ValidationMessageFor(l => l.NameOnCard)
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.LabelFor(l => l.CreditCardNumber, "Card Number*")
                    @Html.TextBoxFor(l => l.CreditCardNumber, new { required = "", creditcard = true, digits = true, @class = "creditcard" })
                    @Html.ValidationMessageFor(l => l.CreditCardNumber)
                </div>
                <div class="col">
                    @Html.LabelFor(l => l.CVV, "Security Code*")
                    @Html.TextBoxFor(l => l.CVV, new { required = "", @class = "zip", digits = true })
                    @Html.ValidationMessageFor(l => l.CVV)
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Exp Month</label>
                    @Html.DropDownListFor(l => l.ExpirationMonth, months, new { required = "", @class = "exp" })
                </div>
                <div class="col">
                    <label>Exp Year</label>
                    @Html.DropDownListFor(l => l.ExpirationYear, years, new { required = "", @class = "exp" })
                </div>
            </div>
            
            <p style="float:left;">
                @Html.ActionLink("Cancel", "Cart", new { controller = "Checkout" }, new { @class = "back" })
                <input type="submit" value="submit" />
            </p>
        </div>
    </fieldset>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#SameAsBilling').change(function () {
            $('#shippingBlock').toggleClass('hideme');
        })
    });
</script>