@model Ticketing.Framework.Models.Ticket.EventVM
@{
    var actionName = (string)ViewBag.PageTitle.Replace(" ", "");
}

<hgroup class="title">
    <h1>@ViewBag.PageTitle</h1>
</hgroup>

@using (Html.BeginForm(@actionName, "Admin", FormMethod.Post))
{
    <fieldset>
        <legend>Create/Edit Event</legend>
        @Html.ValidationMessage("ErrorMessage")
        <div class="editor-label">
            @Html.LabelFor(l => l.Name, "Event Name*")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(l => l.Name, new { required = "" })
        </div>
        @Html.ValidationMessageFor(l => l.Name)
        <div class="editor-label">
            @Html.LabelFor(l => l.Location, "Location*")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(l => l.Location, new { required = "" })
        </div>            
        @Html.ValidationMessageFor(l => l.Location)
        @*<div class="editor-label">
            @Html.LabelFor(l => l.Image, "Image")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(l => l.Image)
        </div>*@
        <div class="editor-label">
            @Html.LabelFor(l => l.Description, "Description*")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(l => l.Description, new { required = true })
        </div>
        @Html.ValidationMessageFor(l => l.Description)
        <div class="editor-label">
            @Html.LabelFor(l => l.Category, "Category")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(l => l.Category, new SelectList(Model.Categories, "CategoryId", "Name"), new { required = "", @class = "dropdown" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(l => l.Active, "Active")
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(l => l.Active)
        </div>

        <p>
            <input type="submit" value="submit" />
            @Html.ActionLink("Cancel", "EventList", new { controller = "Admin" })
        </p>

    </fieldset>
}