@model Ticketing.Framework.Models.Ticket.EventVM
@{
    ViewBag.Title = "PerformanceList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>Performance List</h1>
    @Html.ActionLink("Create Performance", "CreatePerformance", new { controller = "Admin", id = Model.Id }) |
    @Html.ActionLink("Event List", "EventList", new { controller = "Admin", id = Model.Id })
</hgroup>


<table>
    <tr>
        <th>
            Event Name
        </th>
        <th>
            Event Date
        </th>
        <th>
            Seats Available
        </th>
        <th>
            Price
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model.Performances) {
    <tr>
        <td>
            Test
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerformanceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableTickets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPerformance", new { controller = "Admin", id = item.PerformanceId })
            @*@Html.ActionLink("Details", "ProjectDetails", new { controller = "Project", id = item.Id }) |
            @Html.ActionLink("View Tasks", "Index", new { controller = "Task", id = item.Id }) |
            @Html.ActionLink("View Requirements", "Index", new { controller = "Requirement", id = item.Id }) |
            @Html.ActionLink("View Risks", "Index", new { controller = "Risk", id = item.Id }) |
            @Html.ActionLink("View Hours Report", "Report", new { controller = "Project", id = item.Id })*@
        </td>
    </tr>
}

</table>
