@model Ticketing.Framework.Models.Ticket.BuyTicketsVM
@{
    ViewBag.Title = "BuyTickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>Buy Tickets</h1>
</hgroup>

<section class="content-wrapper main-content clear-fix">
<article>
    @foreach (var perf in Model.Performances)
    {
        @Html.Partial("/Views/Shared/Partial/PerformanceGrid.cshtml", perf)
    }
</article>
<aside>
    @using (Ajax.BeginForm("BuyTickets", "Event", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "PerformanceGrid" }))
    {
    <div class="box">
        <div class="inner">
            <label id="from">From</label>
            <label id="lblFromDate" class="date">@Model.FromDate</label>
            @Html.TextBoxFor(d => d.FromDate)
            
        </div>
        <div class="inner">
            <label id="to">To</label>
            <label id="lblToDate" class="date"></label>
            @Html.TextBoxFor(d => d.ToDate)
        </div>
        <div class="inner">
            <h4>Categories</h4>
            <ul>
                @for (int i = 0; i < Model.Categories.Count(); i++)
                {
                    <li>
                        @Html.CheckBoxFor(model => model.Categories[i].SelectedIndicator, new { id = Model.Categories[i].CategoryId })
                        @Html.LabelFor(model => model.Categories[i].Name, Model.Categories[i].Name)
                        @Html.HiddenFor(model => model.Categories[i].CategoryId)
                    </li>
                }
            </ul>
        </div>
        <div class="inner">
            <h4>Events</h4>
            <ul>
                @for (int i = 0; i < Model.Events.Count(); i++)
                {
                    <li>
                        @Html.CheckBoxFor(model => model.Events[i].SelectedIndicator, new { id = Model.Events[i].EventId })
                        @Html.LabelFor(model => model.Events[i].Name, Model.Events[i].Name)
                        @Html.HiddenFor(model => model.Events[i].EventId)
                    </li>
                }
            </ul>
        </div>
        <div class="bottom">
            <input type="submit" id="update_filter" value="Update Filter" />
        </div>
    </div>
    }
</aside>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        var fromDate = $('#lblFromDate');
        var toDate = $('#lblToDate');
        $('#FromDate').Zebra_DatePicker({
            direction: true,
            format: 'm/d/Y',
            show_icon: false,
            pair: $('#ToDate'),
            onSelect: function (date, defaultDate, jDate, refElement) {
                fromDate.text(date);
            }
        });

        $('#ToDate').Zebra_DatePicker({
            direction: 1,
            format: 'm/d/Y',
            show_icon: false,
            onSelect: function (date, defaultDate, jDate, refElement) {
                toDate.text(date);
            }
        });

        $('#from').click(function () {
            $('#FromDate').click();
        });

        $('#to').click(function () {
            $('#ToDate').click();
        });
    });
</script>