@model Ticketing.Framework.BusinessModels.Address
@{
    ViewBag.Title = "Address";
}

<h2>Address</h2>

<div class="editor-label">
    @Html.LabelFor(l => l.Address1, "Address")
</div>
<div class="editor-field">
    @Html.TextBoxFor(l => l.Address1, new { required = "" })
</div>
<div class="editor-label">
    @Html.LabelFor(l => l.Address2, "Address cont.")
</div>
<div class="editor-field">
    @Html.TextBoxFor(l => l.Address2)
</div>
<div class="editor-label">
    @Html.LabelFor(l => l.City, "City")
</div>
<div class="editor-field">
    @Html.TextBoxFor(l => l.City, new { required = "" })
</div>
<div class="editor-label">
    @Html.LabelFor(l => l.State, "State")
</div>
<div class="editor-field">
    @Html.TextBoxFor(l => l.State, new { required = "" })
</div>
<div class="editor-label">
    @Html.LabelFor(l => l.Zip, "Zip")
</div>
<div class="editor-field">
    @Html.TextBoxFor(l => l.Zip, new { required = "" })
</div>